@model IEnumerable<PracenjeTijekaProjekta.Models.PracenjeProjekta.Categories>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/customProjects.css" rel="stylesheet" />

<div>
    <a title="Create new project" style="float:right; cursor: pointer" onclick="location.href = '@(Url.Action("Create", "Categories"))'">
        <img src="~/images/plus.png" style="width:35px; height:35px; margin-left:80%" />
    </a>
</div>
<h2>Categories</h2>
<hr />

@foreach (var item in Model)
{    
<form style="margin-top:0%">
    <div style="margin-top:2%">
        @Html.DisplayFor(modelItem => item.CategoryName) 
    </div>
   
    <div style="margin-left:70%;margin-top:-3%">
        <a title="Edit" style="cursor: pointer;margin-right:0%" onclick="location.href = '@(Url.Action("Edit", "Categories", new { id = item.Id}))'">
            <img src="~/images/edit.png" style="width:20px; height:20px; position:inherit; margin-left:21px 50px;margin-right:0px;" />
        </a>


        <a title="Delete" onclick="location.href = '@(Url.Action("Delete", "Categories", new { id = item.Id }))'" style="padding-left:10px; cursor: pointer">
            <img src="~/images/trash.png" style="width:20px; height:20px; margin-left:6%; margin-right:0%" />
        </a>
    </div>
</form>  
}
